.fa {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.fa-question {
    width: 0.75em;
}

.fa-lock {
    width: 0.875em;
}

.fa-home {
    width: 1.125em;
}

.fa-users {
    width: 1.25em;
}

.fa-plus {
    width: 0.875em;
}