//$primary: hsl(0, 0%, 21%);

//@import "../node_modules/bulmaswatch/materia/_variables.scss";
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-badge/badge.sass";
//@import "../node_modules/bulmaswatch/materia/_overrides.scss";
@import "sociallogins.scss";
@import "fa.scss";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.icon {
  margin-right: 0.5em;
}

.content form {
  margin-bottom: 1.5em;
}

.loading-bar, .loading-bar:before {
  height: 3px;
  width: 100%;
  margin: 0;
}
.loading-bar {
  background-color: $progress-bar-background-color;
  display: -webkit-flex;
  display: flex;
}
.loading-bar:before {
  background-color: $progress-value-background-color;
  content: '';
  -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@-webkit-keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}
@keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}